// Center Floated
.ui.menu:not(.vertical) .center.item,
.ui.menu:not(.vertical) .center.menu
  display -webkit-box
  display -webkit-flex
  display -ms-flexbox
  display flex
  margin auto !important


.hidden
  &.menu
    display none

.masthead
  &.segment
    min-height 100%
    padding 2em 0em
  h1
    &.ui
      &.header
        margin-top 2em
        margin-bottom 0.5em
        font-size 4.8em
        font-weight 700
        font-family 'Ubuntu', 'Helvetica Neue', Arial, Helvetica, sans-serif
        text-transform uppercase
  h2,h3
    font-weight 200
    font-family 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif
    color #fff
  h2
    font-size 2.8em
    margin-bottom 0.1em
  h3
    font-size 1.4em
    margin-top 0em

.ui
  &.header
    line-height 1.1em
  &.vertical
    &.stripe
      padding 8em 0em
      font-family 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif
      h3
        font-size 2em
        font-family 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif
        font-weight 200
      h4
        font-size 3em
        font-family 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif
        font-weight 200
        text-transform uppercase
      p
        font-size 1.2em
        font-family 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif
        font-weight 300
      .speaker-profile
        font-family 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif
        .name
          font-weight 300
          font-size 2.6em
          line-height 1.6em
        .meta
          font-weight 300
          font-size 1.6em
          line-height 1em
          margin-bottom 1em

  &.secondary
    &.inverted
      &.pointing
        &.menu
          border 0
  &.text
    &.container
      max-width 100% !important
  &.inverted
    &.segment.cover
      background url('../assets/images/bkk.jpg') no-repeat center
      background-size cover
