body.en .th {
  display: none !important;
}
body.th .en {
  display: none !important;
}
.ui.menu:not(.vertical) .center.item,
.ui.menu:not(.vertical) .center.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto !important;
}
.hidden.menu {
  display: none;
}
.masthead.segment {
  min-height: 100%;
  padding: 2em 0em;
}
.masthead h1.ui.header {
  margin-top: 1.4em;
  margin-bottom: 0.5em;
  font-size: 4.8em;
  font-weight: 700;
  font-family: 'Ubuntu', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.masthead h2,
.masthead h3 {
  font-weight: 200;
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #fff;
}
.masthead h2 {
  font-size: 2.8em;
  margin-bottom: 0.1em;
}
.masthead h3 {
  font-size: 1.4em;
  margin-top: 0em;
}
.ui.header {
  line-height: 1.1em;
}
.ui.vertical.stripe {
  padding: 8em 0em;
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 200;
}
.ui.vertical.stripe h4 {
  font-size: 3em;
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}
.ui.vertical.stripe p {
  font-size: 1.2em;
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 300;
}
.ui.vertical.stripe .speaker-profile {
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding-bottom: 2em;
}
.ui.vertical.stripe .speaker-profile .name {
  font-weight: 300;
  font-size: 2.6em;
  line-height: 1.6em;
}
.ui.vertical.stripe .speaker-profile .meta {
  font-weight: 300;
  font-size: 1.6em;
  line-height: 1em;
  margin-bottom: 1em;
}
.ui.vertical.stripe .agendar {
  text-align: left;
  padding-left: 2em;
  border-left: 1px dashed #aaa;
}
.ui.vertical.stripe .agendar .section {
  padding-bottom: 3em;
}
.ui.vertical.stripe .agendar .section:before {
  content: '';
  width: 1em;
  height: 1em;
  background: #fff;
  position: absolute;
  left: 0.5em;
  border-radius: 50%;
  border: 2px solid #aaa;
}
.ui.vertical.stripe .agendar .section:last-child {
  padding-bottom: 0em;
}
.ui.vertical.stripe .agendar .section .time {
  font-size: 1.5em;
  line-height: 1em;
  font-weight: 200;
  color: #aaa;
}
.ui.vertical.stripe .agendar .section .subject {
  font-weight: 100;
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: 0.3em;
}
.ui.secondary.inverted.pointing.menu {
  border: 0;
}
.ui.text.container {
  max-width: 100% !important;
}
.ui.inverted.segment.cover {
  background: url("../assets/images/bkk.jpg") no-repeat center;
  background-size: cover;
}
.ui.button {
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin-top: 2em;
}
.ui .keepintouch {
  padding: 3em 0em;
}
.ui .keepintouch .email {
  font-size: 2em;
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 100;
  line-height: 2em;
}
.ui .overlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: 480px;
  top: 480px;
  margin-top: -480px;
}
@media (max-width: 1200px) {
  .masthead h1.ui.header {
    font-size: 3.6em;
    margin-bottom: 0.3em;
  }
  .masthead h2 {
    font-size: 2.2em;
  }
  .masthead h3 {
    font-size: 1.4em;
  }
}
@media (max-width: 991px) {
  .masthead h1.ui.header {
    font-size: 3em;
    margin-bottom: 0.1em;
  }
  .masthead h2 {
    font-size: 2em;
  }
  .masthead h3 {
    font-size: 1.2em;
  }
}
@media (max-width: 768px) {
  .masthead h1.ui.header {
    font-size: 2.2em;
    margin-bottom: 0.1em;
  }
  .masthead h2 {
    font-size: 1.5em;
    margin-bottom: 0.2em;
  }
  .masthead h3 {
    font-size: 1em;
  }
  .ui.header {
    line-height: 1.1em;
  }
  .ui.vertical.stripe {
    padding: 4em 0em;
  }
  .ui.vertical.stripe h3 {
    font-size: 1.5em;
  }
  .ui.vertical.stripe h4 {
    font-size: 2em;
  }
  .ui.vertical.stripe .agendar .section .subject {
    font-size: 1.8em;
  }
  .ui.vertical.stripe .speaker-profile .name {
    font-size: 2em;
    margin-top: 0.5em;
  }
}
@media (max-width: 480px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
}
